<% if flash[:notice] %>
<div>
    <p class="flash"><%= flash[:notice] %></p>
</div>
<% end %>
<div class="blog-box-content">
    <p class="title">
    	<strong>Title:</strong>
        <%= @book.title %>
    </p>
    <p class="body">
    	<strong>Body:</strong>
        <%= @book.body %>
    </p>
</div>
<%= link_to "Edit", edit_book_path(@book) %>
<span>|</span>
<%= link_to "Back", books_path %>